{{ template "header"}}

<main class="container">
    <h1>Formularios</h1>
    {{if ne .css ""}}
    <div class="alert alert-{{.css}} alert-dismissible fade show" role="alert">
      {{.mensaje}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {{end}}
      <div class="row">
        <form action="/formularios-post" method="POST">

          <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Nombre:" />
          </div>
          <div class="form-group">
            <label for="correo">E-Mail:</label>
            <input type="email" name="correo" id="correo" class="form-control" placeholder="E-mail:" />
          </div>
          <div class="form-group">
            <label for="telefono">Telefono:</label>
            <input type="text" name="telefono" id="telofono" class="form-control" placeholder="Telefono:" />
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" class="form-control" placeholder="Password:" />
          </div>
          <hr />
          <input type="submit" value="enviar" title="Enviar" class="btn btn-primary" />

        </form>
      </div>
</main>

{{ template "pie"}}